[Unit]
Description=Get up a tmux session, load python packages

[Service]
Type=forking
User=lutz
ExecStart=/usr/share/ev3-robolab-startup/start.sh
ExecStop=/usr/share/ev3-robolab-startup/stop.sh
RemainAfterExit=yes
KillMode=none

[Install]
WantedBy=multi-user.target
