Source: ev3-robolab-startup
Section: unknown
Priority: optional
Maintainer: Lutz Thies <lutz.thies@tu-dresden.de>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://robolab.inf.tu-dresden.de

Package: ev3-robolab-startup
Architecture: all
Depends: ${misc:Depends}
Description: Registers a systemd service that runs after boot and initiates a tmux session running python3.
